version: '3.8'

services:
  web:
    build: .
    container_name: django_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DEBUG=1

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_DATABASE: docaspythondb
      MYSQL_ROOT_PASSWORD: 'Banhmi4o@'
    volumes:
      - db_data:/var/lib/mysql
      # Đảm bảo file .sql nằm cùng cấp với docker-compose.yml
      - ./docaspythondb.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: 'Banhmi4o@'
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  db_data: