version: '3.8'

services:
  web:
    # Username Docker Hub 
    image: ntnguyen055/doctor-appointment:latest
    container_name: django_web
    restart: always
    command: gunicorn docappsystem.wsgi:application --bind 0.0.0.0:8000
    expose:
      - "8000"
    depends_on:
      - db
    environment:
      - DEBUG=0
    volumes:                                 
      - media_data:/app/media                

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - media_data:/app/media                
    depends_on:
      - web

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_DATABASE: docaspythondb
      MYSQL_ROOT_PASSWORD: 'Banhmi4o@'
    volumes:
      - db_data:/var/lib/mysql
      - ./SQLFile/docaspythondb.sql:/docker-entrypoint-initdb.d/init.sql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: 'Banhmi4o@'
    ports:
      - "8081:80"
    depends_on:
      - db

volumes:
  db_data:
  media_data:                                